<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>文字</string>
		<key>name</key>
		<string>word</string>
	</dict>
    <dict>
        <key>title</key>
        <string>照片/视屏</string>
        <key>name</key>
        <string>picture</string>
    </dict>
    <dict>
        <key>title</key>
        <string>头条文章</string>
        <key>name</key>
        <string>head</string>
    </dict>
    <dict>
        <key>title</key>
        <string>签到</string>
        <key>name</key>
        <string>sign</string>
    </dict>
    <dict>
        <key>title</key>
        <string>直播</string>
        <key>name</key>
        <string>live</string>
    </dict>
    <dict>
        <key>title</key>
        <string>更多</string>
        <key>name</key>
        <string>more2</string>
    </dict>
    <dict>
        <key>title</key>
        <string>点评</string>
        <key>name</key>
        <string>comment</string>
    </dict>
    <dict>
        <key>title</key>
        <string>好友圈</string>
        <key>name</key>
        <string>friendCircle</string>
    </dict>
    <dict>
        <key>title</key>
        <string>音乐</string>
        <key>name</key>
        <string>music2</string>
    </dict>
    <dict>
        <key>title</key>
        <string>红包</string>
        <key>name</key>
        <string>redPackage</string>
    </dict>
    <dict>
        <key>title</key>
        <string>商品</string>
        <key>name</key>
        <string>goods</string>
    </dict>
    <dict>
        <key>title</key>
        <string>秒拍</string>
        <key>name</key>
        <string>takePhoto</string>
    </dict>
</array>
</plist>
